 
 /*home/indexDef.css去除或者添加默认样式部分*/
*,::before,::after{
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-webkit-tap-highlight-color:transparent;
}
html{
	font-size:0.75rem;
}
body{
	font-family: arial;
	font-size:1rem;
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}
a{
	text-decoration:none;
	color:#000;
}
a:hover{
	color:#000;
	text-decoration:none;
}
input{
	outline:none;
	border:none;
	-webkit-appearance:none;
}
.addColorSpan{
	color:#f40;
}
.clearfix::before,
.clearfix::after{
	content:"";
	clear:both;
	height:0;
	line-height:0;
	display:block;
	visibility:hidden;
}
.licla{
	background:blue;
}
/*添加class名片段*/
.add_user_log{
	border-radius:100%;
}
.add_middle_load{
	height:5vh;
	width:100%;
	position:relative;
	overflow:hidden;
	margin-bottom:0;
}
.add_middle_load > img{
	display:block;
	margin:0 auto;
	height:100%;
	transform:scale(3);
}

 
 